{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Machine Learning All{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .navbar-toggler-icon.custom-color {
            color: yellow;
        }
        .dropdown-menu.scrollable-menu {
            max-height: 200px;
            overflow-y: auto;
        }
    </style>
    <input type="hidden" id="uuidField" name="uuid" value="">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Machine Learning All</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon custom-color"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Nuevo Dataset</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clasificador/">Clasificar Imagen</a>
                    </li>
                </ul>
                <div class="nav-item dropdown">
                    <button type="button" class="btn btn-primary position-relative" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bell-fill"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="inboxBadge">
                            <span id="notificationCount">0</span>
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end text-dark scrollable-menu" aria-labelledby="notificationDropdown" id="notificationList">
                        <li class="dropdown-item-text">
                            No hay notificaciones.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuid.min.js"></script>
    <script>
        // Generar UUID único
        const uniqueId = uuid.v4();
        // Asignar el UUID al campo hidden en tu formulario
        document.getElementById('uuidField').value = uniqueId;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-start',
            showConfirmButton: false,
            timer: 10000, // Duración del toast en milisegundos
            timerProgressBar: true,
            customClass: {
                container: 'my-swal-toast-container',
                popup: 'my-swal-toast-popup',
                title: 'my-swal-toast-title',
                icon: 'my-swal-toast-icon',
            },
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });

        var notifications = JSON.parse(localStorage.getItem('notifications')) || []; // Array para almacenar las notificaciones

        function addNotification(data) {
            var now = new Date();
            var time = now.toLocaleString('es-PE'); // Obtener la fecha y hora actual en formato local

            notifications.push({ 
                message: data.message, 
                pos: notifications.length,
                time: time  // Guardar la fecha y hora de la notificación
            });

            // Guardar las notificaciones en localStorage
            localStorage.setItem('notifications', JSON.stringify(notifications));

            // Actualizar el contador de notificaciones
            document.getElementById('notificationCount').textContent = notifications.length;

            // Actualizar la lista de notificaciones
            updateNotificationList();
        }

        function removeNotification(index) {
            notifications.splice(index, 1); // Eliminar notificación del array

            // Guardar las notificaciones en localStorage
            localStorage.setItem('notifications', JSON.stringify(notifications));

            // Actualizar el contador de notificaciones
            document.getElementById('notificationCount').textContent = notifications.length;

            // Actualizar la lista de notificaciones
            updateNotificationList();
        }

        function updateNotificationList() {
            var notificationList = document.getElementById('notificationList');
            notificationList.innerHTML = ''; // Limpiar lista

            notifications.forEach(function(item, index) {
                var li = document.createElement('li');
                li.className = 'dropdown-item';
                li.innerHTML = `
                    <span class="notification-content">${item.message}</span>
                    <span class="badge bg-secondary">${item.time}</span>
                    <button type="button" class="btn btn-danger btn-sm ms-2" onclick="removeNotification(${index})"><i class="bi bi-trash"></i></button>
                `;
                notificationList.appendChild(li);

                if (index !== notifications.length - 1) {
                    // Agregar separador
                    var divider = document.createElement('li');
                    divider.className = 'dropdown-divider';
                    notificationList.appendChild(divider);
                }
            });

            if (notifications.length === 0) {
                var noNotificationsLi = document.createElement('li');
                noNotificationsLi.className = 'dropdown-item-text';
                noNotificationsLi.textContent = 'No hay notificaciones';
                notificationList.appendChild(noNotificationsLi);
            }
        }

        // Inicializar la lista de notificaciones al cargar la página
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('notificationCount').textContent = notifications.length;
            updateNotificationList();
        });

        // Configuración de Pusher
        Pusher.logToConsole = true;
        var pusher = new Pusher('be0524da244ba0c38862', {
            cluster: 'sa1'
        });

        var channel = pusher.subscribe('my-channel');

        // Escucha de eventos 'file_processed' para agregar notificaciones
        channel.bind(document.getElementById('uuidField').value, function(data) {
            addNotification(data);
            var now = new Date();
            var time = now.toLocaleString('es-PE'); 

            Toast.fire({
                icon: 'success',
                title: 'Nueva Notificación!',
                html: `<div>
                    <p>${data.message}</p>
                    <span class="badge bg-secondary">${time}</span>
                </div>`
            });
        });

        function toggleNotificationDropdown() {
            var notificationDropdown = document.getElementById('notificationList');
            if (notificationDropdown.classList.contains('show')) {
                notificationDropdown.classList.remove('show');
            } else {
                notificationDropdown.classList.add('show');
            }
        }
    </script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>
